header a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

main {
  padding: 1rem;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1px #404040 solid;
  margin: 1 rem;
}

.product img {
  width: 100%;
  max-width: 400px;
}

.product-inf {
  padding: 1 rem;
}
